<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url "articles:create" %}" method="POST">
        {% csrf_token %}
        <h1>게시글 생성 페이지</h1>
        <label for="title">제목 : <input type="text" name="title"></label><br>
        <label for="content">
            내용 :
            <textarea name="content"></textarea>
        </label><br>
        <input type="submit" value="CREATE">
    </form>
    <a href="{% url "articles:index" %}">[BACK]</a>
</body>
</html>